.project {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  justify-content: center;
}

.project img {
  width: min(15rem, 90%);
}

.project .content {
  width: min(40rem, 90%);
}

.project h2 {
  margin-bottom: 1rem;
}

.project span {
  font-weight: bold;
}

.project p {
  color: aliceblue;
}

.project p:nth-last-child(1) {
  margin-top: 1rem;
}

@media screen and (max-width: 1231px) {
  .project .content {
    width: min(31.5rem, 90%);
  }
}

@media screen and (max-width: 1100px) {
  .project .content {
    text-align: center;
  }

  .project {
    background: #f0f8ff33;
    padding: 2rem;
    border-radius: 0.4rem;
    margin-inline: 2rem;
  }
}
